<div class="border">

<div class="text_background">
	
<h1>Welcome to Atchison Construction!</h1>

<img class="home_pic" src="/assets/new-andy.png" alt="Andy Campbell">

<h2>		
	Since 1972 Atchison Construction has been serving 
	Northeast Kansas and Northwest Missouri with quality service, 
	exceptional craftsmanship, and a passion for customer satisfaction.
</h2>
	


</div>

</div>
